body {
    color: #ffffff;
    background: #bd047f;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}


.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(179, 0, 140);
}

.categoria h2 {
    color: rgb(253, 254, 255);
}
.main-title {
    font-size: 45px; /* Tamanho grande para o título */
    color: #f2eaff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Espaçamento superior */
}
